{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% block styles%}
        {{ super() }}
          <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}"> -->
          <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    {% endblock %}


{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-md-6 col-lg-6">

            </div>

            <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8">

                {{ wtf.quick_form(blog_form) }}

                     {{ simplemde.load }}
                     {{ simplemde.load }}

            </div>

        </div>

    </div>

{% endblock %}

</body>
</html>