<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="/static/css/styles.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  
  
</head>
<body>
  
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
<div class="container">
<div class="card-columns mt-5">
  <div class="card bg-secondary">
    <div class="card-body text-center">
      <p class="card-text">
      <img src="https://pbs.twimg.com/media/Dc7yNqjX0AAjMQI.jpg" width="240" height="300"></p>
      <p>Have no fear for atomic energy none of it can stop the time.-Bob Marley</p>
    </div>
  </div>
  <div class="card bg-secondary">
    <div class="card-body text-center">
      <p class="card-text">
        <img src="https://i.pinimg.com/474x/6b/59/7b/6b597b1f4cce8abfff389acfff530639.jpg" width="240" height="300"></p>
      <p>Keep your head up -Tupac</p>
    </div>
  </div>
  <div class="card bg-secondary">
    <div class="card-body text-center">
      <p class="card-text">
      <img src="https://lh3.googleusercontent.com/proxy/fE0Lfezn-_qR3wgDSzXVBiaoJc79AYRSIZUN736BII1mZSK7A3PO8PZmNN6xmGJZtoI1ZlBF_8JUCsVWewXE3ge1GXlC59nDHQPfeQMocVx-VnZNdPJseP6yEds6wvJI" width="240" height="300"></p>
      <p>Bob Marley.</p>
    </div>
  </div>
</div>
</div>


</body>
</html>